
.h-c ul {
    background: blue;
    box-shadow: 2px 2px 2px solid gray;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 7%;
}

.h-c ul li {
    font-weight: bold;
}

